@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 31, 32; /* Thunder */
  --background-rgb: 235, 228, 193; /* Fall Green */
  
  /* Color palette */
  --chambray: #324E80;
  --melrose: #B1CDFF;
  --danube: #7195CD;
  --donkey: #A09376;
  --fall: #EBE4C1;
  --thunder: #231F20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
